<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Lista de Pets</title>
</head>
<body>
    <%- include('./partials/header') %>
    <% for (let pet of lPets){ %>
        <article>
            <div class="thumb"></div>
            <div class="info">
                <h2><%= pet.nome %></h2>
                <p><%= pet.species %></p>
                <p><%= pet.favFoods %></p>
                <p><%= pet.birthYear %></p>
            </div>
        </article>
    <% } %>
    <%- include('./partials/footer') %>
</body>
</html>